body {
	font-family: Arial;
	font-size: 14px;
}

.container {
	width: 500px;
	height:150px;
	margin: 50px auto;
	background: #ddd;
}


a {
  color: white;
  display: block;
  text-align: left;
  margin-top: -50px;
}
#img-container {
  float: left;
  margin: 5px;
}

#targetPhoto{
	float:left;
	text-align:center;
	line-height:150px;
	font-weight: bold;
	color: #C0C0C0;
	background-color: #333;
	height:250px; width:550px; overflow-x:hidden; overflow-y: scroll; padding-bottom:10px;
}

#uploadFormContent{
	float:right;
	padding: 35px 20px;
}
#uploadFormContent label{
	font-weight: bold;
	color: #333;
	font-size: 18px;
}
.btnSubmit {
	background-color: green;
	padding:10px;
	border: #3FA849 1px solid;
	color: #FFFFFF;
}
.inputFile {
	padding: 8px;
	background-color: #FFFFFF;
}

header{
	text-align: center;
}